@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 1px;
  padding: 1px;
}
.container{
  min-height: 90vh;
  padding: 20px;
  /* background-color:aqua ; */
  display: flex;
  justify-content: center;
  align-items:center;
  /* text-align: center; */
}
.container>img{
  min-width: 350px;
  height: 320px;
  border-radius:10px;
  
}
.innerContainer{
  margin: 30px;
  text-align:left ;
}
.Button{
  min-width: 130px;
  min-height: 45px;
  color: orangered;
  border-color:orangered;
  font-weight: 600;
  opacity: none;
  cursor: pointer;
  background-color: transparent;
  margin-top: 25px;
  background: linear-gradient(to right, orangered 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
.Button:hover{
  color: white;
  /* border-color: black; */
  background-position: left bottom;
}
@media screen and (max-width:420px) {
  .container{
    flex-direction: column;
    padding: 10px;
  }
  .container>img{
     min-width: 200px;
  }
}